<nav class="navbar bg-primary" data-bs-theme="dark"">
    <a href="/" class="navbar-brand">
        <img id="logo-unifae" src="/img/unifae.png" alt="UNIFAE">
    </a>
    <div>
        <a href="/" class="btn btn-light">
            Jogos
        </a>
        <a href="/jogo/cadastro" class="btn btn-light">
            Cadastrar
        </a>
    </div>
</nav>