<!DOCTYPE html>
<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form-question">
            <div class="card-header">
                <h3>Pergunta</h3>
            </div>
            <div class="card-body">
                <hr>
                <form method="post" action="/jogo/salvar">
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" placeholder="Título" class="form-control">
                    <br><label for="year">Ano</label>
                    <input type="number" id="year" name="year" placeholder="Ano" value="2023" step="1" class="form-control">
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
